{% capture post_url %}{% if post %}{{ post.url }}{% else %}{{ page.url }}{% endif %}{% endcapture %}
{% capture post_title %}{% if post %}{{ post.title }}{% else %}{{ page.title }}{% endif %}{% endcapture %}
{% capture post_content %}{% if post %}{% if post.description %}{{ post.description }}{% else %}A blog post on Uptonian Thoughts.{% endif %}{% else %}{{ page.title }}{% endif %}{% endcapture %}
<iframe border="0" scrolling="no" width="78" height="17" allowtransparency="true" frameborder="0"
 style="margin-bottom: -3px; z-index: 1338; border: 0px; background-color: transparent; overflow: hidden;"
 src="https://www.instapaper.com/e2?url={{ site.url }}%2F{{ post_url | url_encode }}&title={{ post_title | url_encode }}&description={{ post_content | excerpt | url_encode }}"
></iframe>
